<?xml version="1.0" encoding="UTF-8" standalone="yes"?> 


<channels>

  


  

<channel>
<name>[B][COLOR blue] [ [/COLOR] [COLOR gold] SEJA BEM-VINDO A KING TV [B][COLOR blue] ] [/COLOR][/B]</name>
<thumbnail>https://raw.githubusercontent.com/kiingtv/kingtv/main/icon.jpg</thumbnail>
<info>[COLOR blue] [COLOR blue] SEJA BEM-VINDO A KING TV [V3.1] [/COLOR]</info>
<externallink>https://raw.githubusercontent.com/kiingtv/kingtv/main/README.md</externallink>
</channel>


<channel>
<name>[B][COLOR blue][/COLOR] [COLOR yellow] KING TV AO VIVO [/COLOR][/B]</name>
<thumbnail>https://raw.githubusercontent.com/kiingtv/kingtv/main/icon.jpg</thumbnail>
<info>[COLOR blue] [COLOR blue] SEJA BEM-VINDO A KING TV [V3.1] [/COLOR]</info>
<externallink>https://raw.githubusercontent.com/kiingtv/kingtv/main/V2.1/EXT-TREX/extGB.XML</externallink>
</channel>

  
<channel>
<name>[B][COLOR light blue] ==[/COLOR] [COLOR yellow] VERSÃO DO ADDONS [V3.1][B][COLOR light blue] ==[/COLOR][/B]</name>
<info>[COLOR blue] [COLOR blue] TELEGRAM T.ME/BLACKSHEEP_B [/COLOR]</info>
<externallink>https://raw.githubusercontent.com/kiingtv/kingtv/main/READM.XML</externallink>
</channel>



</channels> 
